.movie-row {
  margin-bottom: 30px;
}

.movie-row h2 {
  margin: 0px 0px 0px 30px;
}

.movie-row--list {
  transition: all ease 0.4s;
}

/* Tudo que passar na tela na orizontal deve ser cortado*/
.movie-row--list-area {
  overflow-x: hidden;
  padding-left: 30px;
}

/*Item ao lado do outro*/

.movie-row--item {
  display: inline-block;
  width: 150px;
  cursor: pointer;
}

/*Aplicar um transforme exibindo 90% da img para adicionar animação*/
.movie-row--item img {
  width: 100%;
  transform: scale(0.9);
  transition: all ease 0.5s;
}

.movie-row--item img:hover {
  transform: scale(1);
}

.movie-row--left,
.movie-row--right {
  position: absolute;
  width: 40px;
  height: 225px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  opacity: 0; /*Sumir*/
  transition: all ease 0.5s;
  background-color: rgba(0, 0, 0, 0.6);
}

.movie-row--left {
  left: 0;
}

.movie-row--right {
  right: 0;
}

/*Aparecer o cursor do carrossel*/
.movie-row:hover .movie-row--left,
.movie-row:hover .movie-row--right {
  opacity: 1;
}

@media (max-width:760px) {
  .movie-row--left,
  .movie-row--right {
    opacity: 1;
  }
}